# Mac
.DS_Store

# Packages
__pycache__

# VSCode
.vscode/

# ./integration-test-apps/run_integration_test_app.sh
integration-test-apps/manual-instrumentation/flask/opentelemetry-python-contrib/
integration-test-apps/manual-instrumentation/flask/opentelemetry-python-core/
