boto3
requests
fastapi
uvicorn

./opentelemetry-python-core/opentelemetry-semantic-conventions
./opentelemetry-python-core/opentelemetry-proto
./opentelemetry-python-core/opentelemetry-api
./opentelemetry-python-core/opentelemetry-sdk
./opentelemetry-python-core/exporter/opentelemetry-exporter-otlp-proto-grpc
./opentelemetry-python-core/exporter/opentelemetry-exporter-otlp
./opentelemetry-python-contrib/opentelemetry-instrumentation
./opentelemetry-python-contrib/sdk-extension/opentelemetry-sdk-extension-aws
./opentelemetry-python-contrib/propagator/opentelemetry-propagator-aws-xray
./opentelemetry-python-contrib/instrumentation/opentelemetry-instrumentation-botocore
./opentelemetry-python-contrib/util/opentelemetry-util-http
./opentelemetry-python-contrib/instrumentation/opentelemetry-instrumentation-requests
./opentelemetry-python-contrib/instrumentation/opentelemetry-instrumentation-wsgi
./opentelemetry-python-contrib/instrumentation/opentelemetry-instrumentation-fastapi
